<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
	<title>Bugger</title>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="Eric Heidelmark" />
	
	<!-- Framework CSS -->
	
	<link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print" />
		<!--[if IE]><link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->
	<link rel="stylesheet" href="/stylesheets/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection" /> 
	
	
	<link rel="stylesheet" href="/stylesheets/custom/custom.css" type="text/css" media="screen, projection" />
	
	<!-- FavIcon -->
	<link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
	
	
	<script type="text/javascript" src="/javascripts/prototype.js"></script>
	
	<script type="text/javascript" src="/javascripts/effects.js"></script>
	<script type="text/javascript" src="/javascripts/controls.js"></script>
	<script type="text/javascript" src="/javascripts/application.js"></script>
	<script type="text/javascript" src="/javascripts/slider.js"></script>
	

</head>

<body>
	<%= render :partial => 'shared/logged_in' %>
	
	<div class="container">		
		<%= render :partial => 'shared/flashes' %>
		<%= yield %>
	</div>
	
	<div id="footer">
		<div class="container">
			<p class="quiet">This is the end of the page. Turn around and go home.</p>
		</div>	
	</div>
</body>

</html>